{% extends 'base.html' %}

{% block title %}GUMGUM{% endblock %}
{% block content %}

<div class="container-fluid">
  <!-- Main Body Content-->

  <!-- Image Gallery -->
  <div class="col">
    <div class="row image-gallery mx-auto">
      {% for project in projects %}
      <div class="col-sm-6 col-md-6 col-lg-6 gallery-card">
        <a class="gallery-link" href="{{ project.link }}">
          <div class="gallery-overlay-wrap">
            <img class="img-fluid gallery-card-image" src="{{ project.cover_image }}">
        </a>
        <div class="gallery-overlay">
          <text>
          {{ project.title }}
          </text>
        </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} 

